.banner {
  width: 100%;
  max-width: 60rem;
  /* border: 1px solid black; */
  margin: auto auto;
  /* padding: 20px; */
  position: relative;
}

.banner__top,
.banner__bottom {
  min-height: 220px;
  width: 100%;
  background-color: red;
}
.text_box {
  display: flex;
  margin-bottom: 10px;
}

.text_box p {
  margin-left: 10px;
  font-family: var(--font-generic);
}
.banner__top {
  background-image: var(--color-dark);
  position: relative;

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
}
.banner__links {
  position: absolute;
  right: 100px;
  top: 10px;
}
.banner__links a {
  margin-left: 10px;
  font-size: 18px;
  color: #fafafa;
  text-decoration: none;
}
.banner__links a:hover{
  text-decoration: none;
  color: rgb(212, 61, 61);
}

.banner__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: var(--color-primary);
  width: 300px;
  height: 60px;
}
.banner__bottom {
  background-image: var(--color-light);
  display: flex;
  min-height: 220px;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;

  align-items: flex-end;
}
.banner__bottom h2 {
  font-weight: 500;
  font-size: 16px;
  color: #333;
  font-family: var(--font-generic);
}
.banner__bottom > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner__center {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.banner__btn {
  margin: auto auto;
  width: 300px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background:#1AAB8A; */

  background-image: var(--color-primary);

  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 18px;
  padding: 0 20px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.banner__btn:hover {
  background: #fff;
  color: #1aab8a;
}
.banner__btn:before,
.banner__btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
.banner__btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.banner__btn:hover:before,
.banner__btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
